%table.table.table-striped.accounts.collection
  %thead
    %tr
      %th= t_attr(:code, Account)
      %th= t_attr(:title, Account)
      %th.action-links
  %tbody
    = render @accounts

= render 'bookings/sidebar'
